/* this is my personal css for vencord, use it if you wanna idrc */

* {
    --background-base-lower: #0004;
    --background-base-lowest: #f002;
    --background-primary: #0001;
    --background-secondary: #0002;
    --background-tertiary: #0003;
    --bg-base-secondary: #0002;
    --bg-base-tertiary: #0001;
    --border-subtle: #0002;
    --border-strong: #0004;
    --app-border-frame: #000a;
    --background-mentioned: #fe385250;
    --info-warning-foreground: #f007;
    --chat-text-muted: #fffa;
    --background-message-highlight:#f007;
    --brand-500: #c22;
    --button-filled-brand-background: #e22;
    --mention-background: #f003;
    --mention-foreground: #f44;
}

#app-mount, .layer__960e4.baseLayer__960e4 {
    background: url(https://i.pinimg.com/1200x/84/72/8e/84728e070e0bbd9fb29b24740e9473ae.jpg); 
    background-size: cover;
}

.visual-refresh .sidebarList_c48ade {
    border-left: 0;
}

.visual-refresh .scroller__99e7c {
    background: #0003;
    
}

.visual-refresh .guildSeparator__252b6 {
    display: none;
}

.bar_c38106 {
    background: #000c;
}

.visual-refresh .wrapper_ef3116 { 
    background: #0009;
}

.container__9293f.themed__9293f {
    background: #0008;
}

.searchBar__35e86 {
    background: #0006;
}

.visual-refresh .sidebarListRounded_c48ade { 
    border-radius: 0;
    background: #0004;
}

.visual-refresh .container__2637a {
    background: #0006;
}

.visual-refresh .panels_c48ade {
    width: 100%;
    left: 0;
    border-radius: 0;
}

.visual-refresh .sidebar_c48ade:after {
    background: #000a;
}

.visual-refresh.theme-midnight .content_f75fb0, .visual-refresh.theme-midnight .subtitleContainer_f75fb0 {
    border-left: none;
}

:where(.visual-refresh) .themedBackground__74017{
    background: #0006;
    box-shadow: 0 0 20px #f004;

}
 .visual-refresh .channelTextArea_f75fb0 {
    background: #0000;
    box-shadow: 0 0 10px #f00;
    transition: all 200ms ease;
}

.visual-refresh .channelTextArea_f75fb0:focus-within {
    background: #0005;
    box-shadow: 0 0 20px #f00;
}

.theme-dark.mouse-mode.full-motion.visual-refresh .message__5126c {
    transition: background 250ms ease;
}

.theme-dark.mouse-mode.full-motion.visual-refresh .message__5126c:hover {
    background: #0003;
}

.content__235ca, .overflow__82b15 {
    color: #fffa; 
}